/kicad/a500-sd-plus-controller/a500-sd-plus-controller-backups/
/kicad/a500-sd-plus-controller/production/
/kicad/a500-sd-plus-controller/fabrication-toolkit-options.json
/kicad/a500-sd-plus-controller/gerbers/
*.bak
